html { box-sizing: border-box; font-family: var(--font-regular), sans-serif; font-size: 16px; }
body { display: flex; flex-direction: column; background: rgb(var(--rgb-mid)); }
html, body { height: 100vh; overflow: hidden; margin: 0; padding: 0; }
main { display: flex; flex-direction: column; align-items: flex-start; overflow: auto; scroll-behavior: smooth; }
main>fieldset { display: flex; flex-direction: column; align-items: flex-start; }

.icon { width: 20px; height: 20px; display: block; margin: 1px; border-radius: 2px; }

fieldset { display: inline-block; margin: 10px; border-radius: 3px; background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); padding: 8px; }
legend { background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; padding: 2px 4px; }
input[type="file"] { color: transparent; }
input[type="submit"] { margin-left: 16px; }

div.panel:not(#answers) { display: none; }

table { border-collapse: collapse !important; }
td,th { border: 1px solid rgb(var(--rgb-black)); white-space: nowrap; }
table.dataTable thead th { padding: 5px 18px; }
table.dataTable tbody td { padding: 5px 10px; }
