@font-face{
    font-family: 'dejavu-sans';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/dejavu-sans/DejaVuSans.ttf') format('truetype');
}
@font-face{
    font-family: 'dejavu-sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/dejavu-sans/DejaVuSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'dejavu-sans';
    font-weight: 400;
    font-style: oblique;
    font-stretch: normal;
    src: url('/fonts/dejavu-sans/DejaVuSans-Oblique.ttf') format('truetype');
}
@font-face{
    font-family: 'dejavu-sans';
    font-weight: 700;
    font-style: oblique;
    font-stretch: normal;
    src: url('/fonts/dejavu-sans/DejaVuSans-BoldOblique.ttf') format('truetype');
}
