html { box-sizing: border-box; font-family: var(--font-regular), sans-serif; font-size: 16px; }
body { display: flex; flex-direction: column; background: rgb(var(--rgb-mid)); }
html, body { height: 100vh; overflow: hidden; margin: 0; padding: 0; }
main { display: flex; flex-direction: column; align-items: flex-start; overflow: auto; scroll-behavior: smooth; }
main>fieldset { flex: 0 0 auto; display: flex; flex-direction: column; align-items: flex-start; }

.icon { width: 20px; height: 20px; display: block; margin: 1px; border-radius: 2px; }

fieldset { display: inline-block; margin: 10px; border-radius: 3px; }
:not(main)>fieldset { background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); }
legend { background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; padding: 2px 4px; }
input[type="file"] { color: transparent; }
input[type="submit"] { margin-left: 16px; }

table { border-collapse: collapse; }
td,th { border: 1px solid rgb(var(--rgb-black)); white-space: nowrap; padding: 4px; }

input[name="chars"] { font-family: var(--font-monospace); }
