html { box-sizing: border-box; font-family: var(--font-regular), sans-serif; font-size: 16px; }
body { display: flex; flex-direction: column; background: rgb(var(--rgb-mid)); }
html, body { height: 100vh; overflow: hidden; margin: 0; padding: 0; }
main { display: flex; flex-direction: column; align-items: flex-start; overflow: auto; scroll-behavior: smooth; }

.icon { width: 20px; height: 20px; display: block; margin: 1px; border-radius: 2px; }

fieldset { display: inline-block; margin: 16px; border: 1px solid rgb(var(--rgb-dark)); background: rgb(var(--rgb-white)); border-radius: 3px; }
legend { background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; padding: 2px 4px; }
