*:not(hr) { box-sizing: inherit; }
* { scrollbar-color: rgba(var(--rgb-dark),0.6) rgb(var(--rgb-mid)); scrollbar-width: thin; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 { font-size: 28px; margin: 28px 0; }
h2 { font-size: 25px; margin: 25px 0; }
h3 { font-size: 22px; margin: 22px 0; }
h4 { font-size: 19px; margin: 19px 0; }
h5 { font-size: 16px; margin: 16px 0; }
h6 { font-size: 16px; margin: 16px 0; }

.container { display: flex; min-width: 0; overflow: hidden; align-items: center; white-space: nowrap; justify-content: space-between }
.container:not(.shrink)  { flex: 0 0 auto; }
.container.shrink { flex: 0 1 auto; }
.element { margin: 0 4px; }
.element:not(.shrink)  { flex: 0 0 auto; }
.element.shrink { flex: 0 1 auto; }
.element>.element:first-child, .element>.element:last-child { margin: 0; }
.highlight { color: rgb(var(--rgb-highlight)); }
.frame { display: inline-block; border: 1px solid rgb(var(--rgb-dark)); margin: 2px; outline: 1px solid rgb(var(--rgb-light)); background: rgb(var(--rgb-light)); }
.frame + .frame { margin-left: -1px; }

a.button { height: 24px; background: rgb(var(--rgb-dark)); border: 2px solid rgb(var(--rgb-light)); border-radius: 3px; color: white; margin: 4px; padding: 0 6px; text-decoration: none; line-height: 20px; xfont-weight: bold; }
a.button:hover { border-color: rgb(var(--rgb-highlight)); }
a.button+a.button { margin-left: 1px; }
