header { min-height: 30px; border-bottom: 2px solid black; display: grid; grid-auto-rows: 28px; grid-template-columns: max-content auto max-content; grid-column-gap: 5vw; flex: 0 0 auto; font-size: 14px; background: rgb(var(--rgb-dark)); color: rgb(var(--rgb-light)); white-space: nowrap; }
header a { color: rgb(var(--rgb-light)); }
header label { color: rgb(var(--rgb-light)); }
header>div { display: flex; justify-self: stretch; align-items: center; }
header>div:first-child { grid-area: 1 / 1 / 2 / 2; justify-content: start; }
header>div:not(:first-child):not(:last-child) { grid-area: 1 / 2 / 2 / 3; justify-content: center; }
header>div:last-child { grid-area: 1 / 3 / 2 / 4; justify-content: end; }

@media (max-width: 576px){
  header { grid-column-gap: 0; grid-row-gap: 2px; }
  header>div:not(:first-child):not(:last-child) { grid-area: 2 / 1 / 3 / 4; }
  header .wideonly { display: none; }
}

header .select { height: 100%; margin-left: 0; }
header .select>div:first-child { padding: 0 6px; cursor: pointer; display: flex; align-items: center; height: 100%; user-select: none; }
header .select>div:first-child:hover { background: rgba(var(--rgb-light),0.2); }
header .select.open>div:first-child { background: rgba(var(--rgb-light),0.2); }
header .select>div:first-child>i { margin-left: 4px; opacity: 0.7; font-size: 10px; }
header .select>div:last-child>div { position: absolute; z-index: 100; display: none; flex-direction: column; border-top: 2px solid black; background: white; box-shadow: 1px 4px 4px black; }
header .select.open>div:last-child>div { display: flex; }
header .select>div:last-child>div>hr { width: 100%; }
header .select>div:last-child>div>div { display: flex; }
header .select>div:last-child>div>div:hover { background: rgb(var(--rgb-light)); }
header .select>div:last-child>div>div>a { color: black; padding: 4px; }
header .select>div:last-child>div>div>div+a { flex: 1 0 auto; padding-right: 75px; }
header .select>div:last-child>div>div>a:not(:first-of-type) { font-size: 12px; }
header .select>div:last-child>div>div:not(:hover)>a:not(:first-of-type) { visibility: hidden; }
