.summary a:not(.label) { color: blue; }
.summary a:visited:not(.label) { color: purple; }
.summary code { padding: 0 3px; background: rgb(var(--rgb-light)); border: 1px solid rgb(var(--rgb-mid)); overflow-wrap: break-word; }

.markdown { overflow: auto; overflow-wrap: break-word; }
.markdown>pre { white-space: pre; }
.markdown>:first-child { margin-top: 0; }
.markdown>:last-child { margin-bottom: 0; }
.markdown ol, .markdown ul { padding-left: 32px; }
.markdown li { margin: 3px 0; }
.markdown a { color: blue; }
.markdown a:visited { color: purple; }
.markdown img { max-width: 100%; max-height: 480px; margin: 1px; }
.markdown hr { background: rgb(var(--rgb-mid)); border: 0; height: 2px; }
.markdown table { border-collapse: collapse; table-layout: fixed; }
.markdown .tablewrapper { max-width: 100%; padding: 1px; overflow-x: auto; }
.markdown th { background: rgb(var(--rgb-mid)); }
.markdown td { background: rgb(var(--rgb-white)); }
.markdown td, .markdown th { font-family: var(--font-table); font-size: 90%; white-space: pre; border: 1px solid rgb(var(--rgb-black)); padding: 3px 5px; text-align: left; }
.markdown blockquote { padding: 8px; margin: 16px 0; border: 1px solid rgba(var(--rgb-dark),0.5); border-left: 3px solid rgb(var(--rgb-dark));
                       box-shadow: 1px -1px 1px rgba(var(--rgb-dark),0.2), 1px 1px 1px rgba(var(--rgb-dark),0.2); }
.markdown blockquote.error { display: block; max-width: 100%; overflow-x: auto; border-color: rgb(var(--rgb-warning)); background: rgba(var(--rgb-warning),0.08); white-space: pre; font-family: var(--font-monospace) }
.markdown .quoted-message>blockquote { box-shadow: unset; }
.markdown blockquote>:first-child { margin-top: 0; }
.markdown blockquote>:last-child { margin-bottom: 0; }
.markdown code { padding: 0 3px; background: rgb(var(--rgb-light)); border: 1px solid rgb(var(--rgb-mid)); overflow-wrap: break-word; font-size: 90%; }
.markdown pre>code { display: block; max-width: 100%; overflow-x: auto; padding: 6px; overflow-wrap: unset; }
.markdown nav ol { counter-reset: list-item; }
.markdown nav li { display: block; counter-increment: list-item; }
.markdown nav li:before { content: counters(list-item,'.') ' '; }
.markdown dt { font-weight: bold; }
.markdown dd { margin-left: 16px; }
.markdown dd>* { margin: 5px 0; }
.markdown .header-anchor { text-decoration: none; }
.markdown .footnote-item { font-size: smaller; }
.markdown .footnote-ref { font-size: 70%; }
.markdown .footnote-ref>a { text-decoration: none; }
.markdown .quoted-message { border-radius: 2px; padding: 5px; display: grid; grid-template-columns: 22px auto 11px auto; grid-template-rows: auto auto; overflow: auto; }
.markdown .quoted-message > p { margin: 0; font-size: 10px; grid-column: 1 / span 4; grid-row: 1 / span 1; }
.markdown .quoted-message > p > a { color: rgb(var(--rgb-dark)); text-decoration: none; }
.markdown .quoted-message > p em { color: rgb(var(--rgb-dark)); font-style: normal; white-space: nowrap; }
.markdown .quoted-message > a { text-decoration: none; font-size: 10px; grid-column: 3 / span 1; grid-row: 2 / span 1; margin: 2px 0 0 1px; }
.markdown .quoted-message > img { grid-row: 2 / span 1; }
.markdown .quoted-message > blockquote { margin: 0; background: rgb(var(--rgb-white)); padding: 4px; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 3px; grid-column: 2 / span 1; grid-row: 2 / span 1; justify-self: start; }
.markdown .post { border: 3px solid rgb(var(--rgb-dark)); margin: 0; }
.markdown .post .tag:hover i { visibility: hidden; }
.markdown .post .title > a { color: rgb(var(--rgb-black)); }
.markdown .expandable { overflow: hidden; position: relative; border-bottom: 1px dashed rgb(var(--rgb-mid)) !important; }
.markdown .expandable>code { overflow: hidden; }
.markdown .expander { position: absolute; z-index: 99; height: 50px; top: 250px; padding-top: 34px; left: 0; right: 0; font-family: var(--font-regular); font-size: 12px; text-align: center;
                      color: rgb(var(--rgb-dark)); background: linear-gradient(to bottom, rgba(var(--rgb-light),0) 0%, rgb(var(--rgb-light)) 40%, rgb(var(--rgb-light)) 25%); }
.markdown .expander:hover { text-decoration: underline; cursor: pointer; }
.markdown .post .hover { display: none; }
.markdown .table-of-contents ol { counter-reset: list-item-toc; }
.markdown .table-of-contents li { display: block; counter-increment: list-item-toc; }
.markdown .table-of-contents li:before { content: counters(list-item-toc,'.') ' '; }

.markdown.cm-s-default .cm-comment {color: rgba(0,0,0,0.5);}
.markdown .cm-s-default .cm-comment {color: rgba(0,0,0,0.5);}

.markdown .youtube { position: relative; z-index: 0; }
.markdown .youtube>svg { position: absolute; height: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%); pointer-events: none; }
.markdown .youtube>a>img { display: block; margin: 0; }
.markdown .xkcd>div { margin-bottom: 8px; }
.markdown .xkcd img { max-height: 180px; display: block; }
.markdown .xkcd>a { display: block; }
.markdown .wikipedia { display: block; margin: 4px; }
.markdown .wikipedia>a:nth-of-type(1) { float: right; width: 50px; }
.markdown .wikipedia>a:nth-of-type(2) { font-size: 18px; display: block; margin-bottom: 10px; }
.markdown .wikipedia>a:nth-of-type(3) { float: left; margin-top: 4px; margin-right: 12px; margin-bottom: 0; max-width: 30%; }
.markdown .CodeMirror { height: auto; font-family: var(--font-monospace); font-size: 90%; margin: 16px 0; }
.markdown textarea:first-child+.CodeMirror { margin-top: 0; }
@supports (-webkit-touch-callout: none) { .markdown .CodeMirror .CodeMirror-gutters { z-index: -1; } }
.markdown .CodeMirror:last-child { margin-bottom: 0; }
.markdown .CodeMirror-scroll { margin-bottom: -30px; }
.markdown .codefence+.CodeMirror { border: 1px solid rgb(var(--rgb-mid)); background: rgb(var(--rgb-light)); }
.markdown .codefence+.CodeMirror .CodeMirror-cursor { display: none; }
.markdown .codefence+.CodeMirror .CodeMirror-linenumber { color: rgba(var(--rgb-dark),0.5); }
.markdown .codefence+.CodeMirror .CodeMirror-linenumbers { color: rgb(var(--rgb-mid)); background: rgb(var(--rgb-light)); }
.markdown .codefence+.CodeMirror .CodeMirror-gutters { border-right: 1px solid rgb(var(--rgb-mid)); }
.markdown .tio { display: inline-grid; grid-template-columns: auto auto; grid-template-rows: auto auto; gap: 4px; background: rgba(var(--rgb-light,0.5)); border-radius: 3px; padding: 4px; }
.markdown .tio>textarea.codeinput+div.CodeMirror { grid-area: 1 / 1 / 2 / 3; margin: 0; justify-self: start; border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; }
.markdown .tio>textarea.codefence+div.CodeMirror { grid-area: 2 / 1 / 3 / 2; margin: 0; justify-self: start; }
.markdown .tio>pre>xcode { padding: 0 2px; border: 1px solid rgb(var(--rgb-dark)); }
.markdown .tio>a { grid-area: 2 / 2 / 3 / 3; font-size: 12px; justify-self: end; align-self: end; }
.markdown:not(:hover)) .tio>a { visibility: hidden; }

.dbfiddle { padding: 8px; background: rgb(var(--rgb-light)); border-radius: 3px; }
.dbfiddle .CodeMirror { border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; }
.dbfiddle .tablewrapper { margin-top: 8px; }
.dbfiddle>div { margin-top: 8px; }
.dbfiddle .batch.hidden { display: none; }
.dbfiddle .batch { overflow: hidden; min-width: 0; }
.dbfiddle .error { overflow: auto; white-space: pre; font-family: var(--font-monospace); background: rgba(var(--rgb-highlight),0.25); }
.dbfiddle>div>a { font-size: smaller; }
.dbfiddle td.null::after { content: 'null'; font-style: italic; opacity: 0.5; }
.dbfiddle td:not(.null):empty:after { content: ' '; visibility: hidden; }
.dbfiddle td.right { text-align: right; }
.dbfiddle th.right { text-align: right; }
.dbfiddle tbody.hide { display: none; }
.dbfiddle tfoot td { padding: 6px 8px; font-size: 12px; font-family: var(--font-regular); }
.dbfiddle tfoot td a { font-style: normal; }
.dbfiddle table { background: rgb(var(--rgb-white)); }
.dbfiddle tbody>tr:nth-child(even)>td { background: rgba(var(--rgb-light),0.1); }
.dbfiddle .qp { overflow-x: auto; overflow-y: hidden; border: 1px solid rgb(var(--rgb-dark)); border-radius: 3px; margin-top: 5px; padding: 2px }
.dbfiddle .qp-statement-header { display: none; }
.qp-tt { z-index: 99 !important; box-shadow: 0 0 2px 2px rgb(var(--rgb-white)); }
.katex-block { overflow: auto; }
