#qa .post:target { box-shadow: 0 0 1px 2px rgb(var(--rgb-highlight)); }
#qa .post.answer:not(:last-child) { margin-bottom: 40px; }
#qa .markdown { border: 1px solid rgb(var(--rgb-dark),0.6); border-width: 1px 0; padding: 8px; }
#qa .bar .element.fa { cursor: pointer; font-size: 16px; }
#qa .bar .element.fa-bell { color: rgb(var(--rgb-highlight)); }
#qa .bar .element.fa-flag { color: rgb(var(--rgb-warning)); }
#qa .bar .starrr { display: flex; }
#qa .bar .starrr a.fa-star { color: rgb(var(--rgb-highlight)); }
#qa .bar .starrr a.fa-star-o { color: rgb(var(--rgb-dark)); }
#qa .bar [data-total]::after { content: attr(data-total) ' stars'; }
#qa .bar [data-total="1"]::after { content: attr(data-total) ' star'; margin-right: 0.4em; }
#qa .bar [data-total][data-required]:not([data-required="0"]):not([data-required^="-"])::after { content: attr(data-total) ' stars (' attr(data-required) ' more required to launch)'; }
#qa .bar [data-total="1"][data-required]:not([data-required="0"]):not([data-required^="-"])::after { content: attr(data-total) ' star (' attr(data-required) ' more required to launch)'; margin-right: 0.4em; }
#qa .post:not(.subscribed) .bar .element.fa-bell { display: none; }
#qa .post.subscribed .bar .element.fa-bell-o { display: none; }
#qa .post:not(.flagged) .bar .element.fa-flag { display: none; }
#qa .post.flagged .bar .element.fa-flag-o { display: none; }
#qa .post.counterflagged .bar .element.fa-flag-checkered { color: rgb(var(--rgb-highlight)); }
