html { box-sizing: border-box; font-family: var(--font-regular), sans-serif; }
html, body { height: 100vh; overflow: hidden; margin: 0; padding: 0; }
body { display: flex; flex-direction: column; background: rgb(var(--rgb-mid)); }
main { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto 1fr; grid-gap: 10px; padding: 10px; max-width: 3000px; margin: 0 auto; height: 100%; }
textarea, pre, code { font-family: var(--font-monospace), monospace; }
.CodeMirror { font-family: var(--font-monospace), monospace !important; }
.icon { width: 20px; height: 20px; display: block; margin: 1px; border-radius: 2px; }

#form { flex: 1 0 0; min-height: 0; }
#title { grid-area: 1 / 1 / 2 / 3; background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); padding: 6px; font-size: 18px; font-family: var(--font-regular), sans-serif; }
#tagbar { grid-area: 2 / 1 / 3 / 3; display: flex; margin-left: -4px; }
#markdown { grid-area: 3 / 2 / 4 / 3; background: rgb(var(--rgb-white)); padding: 8px; background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 3px; overflow-y: auto; }
#license>span+span { display: none; }
#imageupload { display: none; }

.tag { position: relative; height: 18px; background: rgb(var(--rgb-light)); background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 0 9px 9px 0; line-height: 14px; margin-left: 0;
       font-size: 12px; margin-left: 4px; padding-left: 3px; padding-right: 15px; vertical-align: middle; cursor: pointer; color: rgb(var(--rgb-dark)); }
.tag::after { position: absolute; display: block; border-radius: 50%; background: rgb(var(--rgb-white)); border: 1px solid rgb(var(--rgb-dark)); height: 8px; width: 8px; content: ''; top: 4px; right: 4px; box-sizing: border-box; }
.tag:not(.newtag):hover { content: 'remove'; }
.newtag:not(:hover) { opacity: 0.5; }
.tag.hide { display: none; }
.tag.thread { text-decoration: line-through; }
#taginput { background: white; outline: none; padding-right: 0; }
#taginput { width: 140px; }
.newtag { width: 70px; }

#editor-buttons { grid-area: 3 / 1 / 4 / 2; justify-self: start; min-height: 0; }
#editor-buttons>div { display: flex; flex-direction: column; background: rgb(var(--rgb-light)); background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 3px 0 0 3px; padding: 5px; }
#editor-buttons>div i { padding: 4px; text-align: center; width: 24px; height: 24px; text-align: center; }
#editor-buttons>div i:hover { box-shadow: 0 0 0 1px rgba(var(--rgb-dark),0.6) inset; cursor: pointer; background: rgb(var(--rgb-mid)); border-radius: 3px; }
#editor-buttons>div i:last-child { margin-bottom: 0; }
#editor-buttons>div br { margin-bottom: 12px; }

#codemirror-container { grid-area: 3 / 1 / 4 / 2; position: relative; margin-left: 35px; min-height: 0; min-width: 0; display: flex; flex-direction: column; }
#codemirror-container>textarea { flex: 1 1 auto; resize: none; margin: 0; padding: 4px; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 0 3px 3px 3px; font-size: 90%; }
#codemirror-container>.CodeMirror { flex: 1 1 auto; background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); border-radius: 0 3px 3px 3px; font-size: 90%; }
#codemirror-container>.CodeMirror pre.CodeMirror-placeholder { color: darkgrey; }
#codemirror-container>.CodeMirror-wrap pre { word-break: break-word; }
#codemirror-container>#keyboard { flex: 0 0 auto; background: rgb(var(--rgb-light)); background-clip: padding-box; border: 1px solid rgba(var(--rgb-dark),0.6); border-top: none; border-radius: 3px; padding-bottom: 1px; }

@media (max-width: 576px){
  main { grid-template-columns: 1fr; grid-template-rows: auto auto 1fr 1fr; padding: 2px; grid-gap: 2px; }
  #title { grid-area: 1 / 1 / 2 / 2; }
  #tagbar { grid-area: 2 / 1 / 3 / 2; }
  #codemirror-container { grid-area: 3 / 1 / 4 / 2; margin: 35px 0 0 0; }
  #markdown { grid-area: 4 / 1 / 5 / 2; }
  #editor-buttons { grid-area: 3 / 1 / 4 / 2; }
  #editor-buttons>div { flex-direction: row; border-radius: 3px 3px 0 0; }
  #editor-buttons>div br { margin: 0 12px 0 0; }
}
