@font-face{
    font-family: 'dejavu-sans';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/dejavu-san/DejaVuSans.ttf') format('truetype');
}

@font-face{
    font-family: 'dejavu-sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('/fonts/dejavu-san/DejaVuSans-Bold.ttf') format('truetype');
}
